
    <!-- IMAGEN -->
    <!-- <img class="image" src="../../../assets/img/contactus.jpg" alt="Not Found" > -->
    <!--  CARD -->
<div class="image"></div>  
<div class="container">
    <div class="card" style="margin-top: 2em;" >
        <h1 class="card-header" align="center">Registrar médicos</h1>
        <h2 class="card-header" style="padding-left: 10px;">Información personal</h2>
        <div class="card-body"> 
            <div class="row">
                <form class="col s12" [formGroup] = "doctorForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                        <!-- Nombre del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Nombre(s)</span>
                            <input type="text" id="name" class="validate" name="name"  formControlName="name" required>
                        </div>
                        <!-- Apellido del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Apellido(s)</span>
                            <input type="text" id="lastName" class="validate" name="lastName"  formControlName="lastName" required>
                        </div>
                  </div>

                  <div class="row">
                        <!-- Nacionalidad del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Nacionalidad</span>
                            <input type="text" id="nationality" class="validate" name="nationality"  formControlName ="nationality"> 
                        </div>
                        <!-- Estado del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Estado civil</span>
                            <select formControlName ="maritalStatus">
                              <option value="" disabled selected>Escoger...</option>
                              <option value="casado">Casado</option>
                              <option value="soltero">Soltero</option>
                              <option value="divorciado">Divorciado</option>
                              <option value="viudo">Viudo</option>
                              <option value="concubinato">Concubinato</option>
                              <option value="separacion_en_proceso">Separación en proceso judicial</option>
                            </select>
                        </div>
                  </div>
                  <div class="row">
                        <!-- Fecha de nacimiento del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Fecha de nacimiento</span>
                            <input type="date" id="birthdate" class="validate" name="birthdate" formControlName = "birthdate" required>
                        </div>
                  </div>
                  <div class="row">
                        <!-- Número de teléfono del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Teléfono</span>
                            <input type="text" id="phone" class="validate" name="phone" formControlName = "phone" required>
                            <span class="helper-text" data-success="right">Ejemplo.- 99999999</span>
                        </div>
                        <!-- Número de teléfono auxiliar del médico -->
                        <div class="input-field col s6">
                            <span class="input-group-text">Teléfono(Opcional)</span>
                            <input type="text" id="emergencyphone" class="validate" name="emergencyPhone" formControlName = "emergencyPhone" required>
                            <span class="helper-text" data-success="right">Ejemplo.- 99999999</span>
                        </div>
                  </div>


                  <h2 class="card-header">Información de cuenta</h2>
                  <div class="row">
                    <!-- Correo del médico -->
                    <div class="input-field col s12">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Correo electrónico</span>
                            </div>
                            <input type="text" id="email" name="email" class="validate" formControlName = "email" required>
                    </div>
                  </div>
                  
                  <div class="row">
                            <!-- Contraseña del médico -->
                            <div class="input-field  col s6">
                                <span class="input-group-text">Contraseña</span>
                                <input type="text" class="validate" id="password" name="password" required>
                                <span class="helper-text" data-error="
                                Tenga una longitud mayor o igual a 8 caracteres.
                                Utilice una combinación de letras mayúsculas y minúsculas,
                                incluya caracteres especiales.
                                " data-success="right"></span>
                            </div>
                            <!-- Contraseña confirmada del médico -->
                            <div class="input-field  col s6">
                                <span class="input-group-text">Confirmar contraseña</span>
                                <input type="text" class="validate" id="confirm_password" name="confirm_password" formControlName ="password" required>
                                <span class="helper-text" data-error="
                                Tenga una longitud mayor o igual a 8 caracteres.
                                Utilice una combinación de letras mayúsculas y minúsculas,
                                incluya caracteres especiales.
                                " data-success="right"></span>
                            </div>
                  </div>

                  <h2 class="card-header">Información adicional</h2>
                  <div class="row">
                            <!-- Licencia profesional del médico -->
                            <div class="input-field col s6">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Licencia profesional</span>
                                </div>
                                <input type="text" id="professionalLicense" name="professionalLicense" class="validate" formControlName = "professionalLicense" required>
                            </div>
                            
                            <!-- Areá a postular del médico -->
                            <div class="input-field col s6">
                                <span class="input-group-text">Areá a postularse</span>
                                <select formControlName = "medicalArea" >
                                  <option value="" disabled selected>Escoger...</option>
                                  <option value="médico general">Médico general</option>
                                  <option value="dentista">Dentista</option>
                                  <option value="pediatra">Pediatra</option>
                                  <option value="nutriologo">Nutriólogo</option>
                                  <option value="cardiologo">Cardiólogo</option>
                                  <option value="medico_obsteta">Médico obsteta</option>
                                  <option value="otorrinolaringologo">Otorrinolaringólogo</option>
                                  <option value="medico_casos_especiales">Médico de casos especiales</option>
                                </select>
                            </div>
                  </div>
                  <div class="row">
                            <!-- Descripción del médico -->
                            <div class="input-field col s6">
                                <span class="input-group-text">Descripción</span>
                                <input type="text" id="description" class="validate" name="description" formControlName = "description">
                            </div>
                            <!-- Especialidad del médico -->
                            <div class="input-field col s6">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Especialidad</span>
                                </div>
                                <input type="text" id="jobTitle" name="jobTitle" class="validate" formControlName = "jobTitle">
                            </div>                            
                  </div>
                  <div class="row">
                    <div class="col s9">
                        <button class="btn waves-effect buttoms waves-light" type="submit" name="action" (click) = "volver()"> 
                        Regresar
                        </button>
                    </div>
                    <div class="col s3 right-align">
                        <button class="btn waves-effect buttoms waves-light" type="submit" name="action" >
                        Guardar datos
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div> 