<div style="height: 400px; overflow: hidden;">
    <div class="carousel carousel-slider" style="height: 100% !important">
        <a class="carousel-item"><img src="assets/img/junta.jpg"  height="500"></a>
        <a class="carousel-item"><img src="assets/img/digital.jpg"  height="400"></a>
        <a class="carousel-item"><img src="assets/img/instalaciones.jpg"  height="500"></a>

    </div>
</div>

<div class="container center-align ">
        <app-list-news ></app-list-news>
</div>
<!-- <app-footer></app-footer> -->