<img class="image" src="../../../assets/img/contactus.jpg" alt="Not Found">
<!-- IMAGEN -->
<div class="row center-align">
    <mat-card class="card login">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Ingrese correo y contraseña</mat-card-subtitle>
        <form action="" [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
                <div class="col s12">
                    <div class="input-field inline" style="width: 65%;">
                            <input id="email_inline" type="email" class="validate"  formControlName="mail">
                            <label for="email_inline">Email</label>
                            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                        <br>
                        <br><br>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate"  formControlName="pass">
                            <label for="password">Password</label>
                        </div>
                        <br><br>
                        <div class="input-field col s12">
                            <mat-form-field appearance="fill">
                                <mat-label>Select an option</mat-label>
                                <mat-select [(value)]="role" (selectionChange) = "changeRoute($event.value)">
                                    <mat-option value="pathient">Patient</mat-option>
                                    <mat-option value="doctor">Doctor</mat-option>
                                    <mat-option value="manager">Manager</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <p>Rol Seleccionado: {{role}}</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" >Login</button>
                <button routerLink="./patients_create" mat-raised-button type="submit" >Sign in</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>