<img class="image" src="../../../assets/img/contactus.jpg" alt="Not Found">
<!-- IMAGEN -->
<div class="row center-align">
    <mat-card class="card login">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Ingrese correo y contraseña</mat-card-subtitle>
        <form action="" [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
                <div class="col s12">
                    <div class="input-field inline" style="width: 65%;">
                            <input id="email_inline" type="email" class="validate"  formControlName="mail">
                            <label for="email_inline">Email</label>
                            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                        <br>
                        <br><br>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate"  formControlName="pass">
                            <label for="password">Password</label>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" >Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>