<div class="image_background">
    <div class="row right-align">
        <div class="col s9"></div> 
        <div class="col s3">
            <form class="search" [formGroup]="searchForm" (ngSubmit)="getMedicaments(searchForm.value.query)">
                <input class="input" placeholder="Buscar  medicamento..." id="name" type="search" formControlName="query">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                    Buscar
                    </button>
                    
            </form>
        </div>
    </div>


    <div class="row center-align">
        <div class="col s12 m1 "></div>
        <div class="col s12 m6 contactus" style="left:5%; ">
            <table>
                <div class="card hoverable acrylic shadow" style="height: 720px;">
                    <div class="card-content black-text">
                        <div class="row">
                            <ng-template [ngIf]="medicaments">
                                <ul>
                                    <li *ngFor="let elemento of medicaments.resultados | paginate: {itemsPerPage: 4, currentPage: pageActual}">
                                        <div class="col s7 left-align">
                                            <div *ngIf="(elemento.docs && elemento.fotos) else elseBlock">
                                                <a [href]="elemento.docs[0].url"  >
                                                    <img class="image_medicamentos" [src]="elemento.fotos[0].url" /> 
                                                </a>
                                            </div>
                                    <ng-template #elseBlock>
                                            <img class="image_medicamentos" src="../../../assets/img/No_disponible.png" alt="Not Found" >
                                            <br>
                                    </ng-template> 
                                        </div>
                                        <div class="col s5 left-align">
                                            <p><b>Nombre: </b>{{elemento.nombre}}</p>
                                            <p><b>Principio Activo: </b>{{elemento.principiosActivos[0]["nombre"]}}</p>
                                            <p><b>Laboratorio: </b>{{elemento.labtitular}}</p>
                                        </div>
                                    </li>
                                    <br>
                                    <br>
                                </ul>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </table>
            <pagination-controls class="custom-pagination" style="position: absolute;" previousLabel="Anterior" nextLabel="Siguiente" maxSize="5" (pageChange)="pageActual = $event"></pagination-controls>
        </div>

            <div class="col s8"></div>
            <div class="input-field right-align col s3">
                <select [(ngModel)]="comercial" (change)="getComercial()">
                    <option value="" disabled selected>Escoger...</option>
                    <option value="1">Comercial</option>
                    <option value="0">Especializados</option> 
                </select>
                    <label>Comercialización</label>
            </div>

            <div class="col s9"></div>
            <div class="input-field right-align col s3">
                <select [(ngModel)]="strip" (change)="getStrip()">
                    <option value="" disabled selected>Escoger...</option>
                    <option value="1">Biosimilar</option>
                    <option value="0">No Biosimilar</option>
                </select>
                     <label>Tipo de medicamento</label>
            </div>

            <div class="col s9"></div>
            <div class="input-field right-align col s3">
                <select [(ngModel)]="activeprim" (change)="getActive()">
                    <option value="" disabled selected>Escoger...</option>
                    <option value="true">Con activo primario</option>
                    <option value="false">Sin activo primario</option>
                </select>
                    <label>Activo primario</label>
            </div>
</div>

   

    