<div class="image"></div>
<div class="container">
    <div class="card" style="margin-top: 2em;">
        <br>
        <h1 class="card-header" align="center">Bitacora de citas</h1>
        <ng-template [ngIf]="myAngularxQrCode">
            <div align="center">
                <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </ng-template>
        <div class="card-body">
            <div class="row">
                <div class="row">
                    <div class="col s10"></div>
                    <div class="col s2">
                        <div class="row">
                            <a class="waves-effect waves-light btn" routerLink="./appointment_create"
                                style="margin-top: 1em;">
                                <ul>
                                    <li style="margin-top: -1em; width: 6em;">
                                        <div class="col s3"> <i class="small material-icons">add_circle_outline</i>
                                        </div>
                                        <div class="col s3">Crear</div>
                                    </li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -2em;">
                    <div class="col s12">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="turn">
                                <th mat-header-cell *matHeaderCellDef>Turno</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.turn}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                                <td class="trim-info" style="margin-top: 2.8em;" mat-cell *matCellDef="let element">
                                    {{element.date}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef>Hora</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.time}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="crud">
                                <th mat-header-cell *matHeaderCellDef style="width: 16em;"></th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="(element.date < current_date) else elseBlock">
                                        <div class="row">
                                            <div class="col s4">
                                                <a style="color: #C1C3CA;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">create</i></p>
                                                            <p style="text-align: center;">Editar</p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a style="color:#C1C3CA;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">close</i></p>
                                                            <p style="text-align: center;">Eliminar</p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a style="color: #C1C3CA;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">filter_center_focus</i>
                                                            </p>
                                                            <p style="text-align: center;">QR</p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #elseBlock>
                                        <div class="row">
                                            <div class="col s4">
                                                <a routerLink="./appointment_edit"
                                                    style="color:#1BA468 ;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">create</i></p>
                                                            <p style="text-align: center;">Editar</p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a (click)='deleteMedicalApp(element.id)' style="color:#CF4444;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">close</i></p>
                                                            <p style="text-align: center;">Eliminar</p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a (click)="getCodeQR(element.id)" style="color: #0F2DA5 ;">
                                                    <ul>
                                                        <li>
                                                            <p style="text-align: center;"><i
                                                                    class="small material-icons">filter_center_focus</i>
                                                            </p>
                                                            <p style="text-align: center;">QR</p>
                                                        </li>
                                                    </ul>
                                                </a>

                                            </div>
                                        </div>
                                    </ng-template>
                                </td>
                            </ng-container>

                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <mat-footer-row 
                                [ngClass]="{'hide': response_resultados!=null}"></mat-footer-row>
                        </table>
                        <mat-paginator style="width: 70em;" [pageSizeOptions]="[3,6]" [pageSize]="6"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>