<div class="row">
    <div class="col s12 m4">
        <!-- IMAGEN -->
        <img class="image right-align" src="https://picsum.photos/300/200" alt="">
    </div>
    <div class="col s12 m8 center-align">
        <h3>About Us</h3>
        <h4>¿Quiénes somos?</h4>
        <h5>Somos una empresa socialmente responsable, que busca brindar un servicio de calidad a todo el público en general a un precio accesible. </h5>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 m4">
        <a href="www.facebook.com"><i class="medium material-icons">facebook</i></a>
        <p>24 hrs</p>
    </div>
    <div class="col s12 m4">
        <a href="www.facebook.com"><i class="medium material-icons">facebook</i></a>
        <p>Av. Itzáes, Mérida, Yuc</p>
    </div>
    <div class="col s12 m4">
        <a href="www.facebook.com"><i class="medium material-icons">facebook</i></a>
        <p>Integridad <br> Calidad <br> Accesibilidad</p>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col s12 m4">
            <b>Información de contacto</b>
        </div>
        <div class="col s12 m4">
            <b>Contáctanos</b>
            
        </div>
        <div class="col s12 m4">
            <b>Descubrimientos</b>
            
        </div>
    </div>
</div>