.body{
    height: 100%;
}
.image{
    /* position: absolute; */
    /* background: url(../../../assets/img/aboutus.jpg); */
    background-position: initial;
    background-size: cover;
    filter: blur(0px);
    width: 100%;
    height: 100%;;
}