.card{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}
.acrylic {
    padding: 4em 6em;
    position: relative;
    overflow: hidden;
    margin: 1em;
} 


.image{
    /* position: absolute; */
    /* background: url(../../images/contactus.jpg); */
    background-position: absolute;
    background-size: cover;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    
}
.contactus{
    position: absolute;
    width: 85%;
    height: 10%;
    top: 26%;
    /* background-color: rgba(223, 217, 217, 0.342); */
    margin-left: -2%; 
    margin-top: -2%; 
}
.redes{
    position: absolute;
    width: 85%;
    height: 20%;
    top: 40%;
    left: 2%;
    /* background-color: rgba(223, 217, 217, 0.342); */
    margin-left: -2%; 
    margin-top: -2%; 
}