
    <!-- IMAGEN -->
    <!-- <img class="image" src="../../../assets/img/contactus.jpg" alt="Not Found" > -->
    <!--  CARD -->
    <div class="image"></div>
   
    <div class="row center-align" >
        <div class="col s12 contactus center-align">
            <div class="card hoverable shadow ">
                <div class="card-content black-text">
                    <span class="card-title">Déjanos un mensaje</span>
                    <div class="row center-align">
                        <form class="col s12 center-align">
                            <div class="row center-align">
                                <div class="input-field col s6 center-align">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="name" type="text" class="validate">
                                    <label for="name">Nombre(s)</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Apellido</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Correo Electrónico</label>
                                    <span class="helper-text" data-error="Ingrese correo válido" data-success=""></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="comentario" class="materialize-textarea" data-length="120"></textarea>
                                    <label for="comentario">Comentario</label>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" type="submit" style="color:#26A69A;" >Enviar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
