<br>  
<ng-template [ngIf] = "!news">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="news">
<div class="" *ngFor="let elemento of news.items" >
    <div class="grid">
        <h2 class="header">{{elemento.title}}</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="elemento.urlToImage" >
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p> {{elemento.content}} </p>
            </div>
          </div>
        </div>
      </div>
</div>
</ng-template>
