<br>  
<ng-template [ngIf]="news">
<div class="row" *ngFor="let elemento of news.items" >
    <div class="col s12 m12">
        <h2 class="header">{{elemento.title}}</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="elemento.urlToImage" >
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p> {{elemento.content}} </p>
            </div>
          </div>
        </div>
      </div>
</div>
</ng-template>

  <!-- <div>
    <ul>
        <ng-template [ngIf]="news">
            <li *ngFor="let elemento of news.items">
                <a [href]="elemento.url">
                    <img [src]="elemento.urlToImage" />
                    <h4>{{elemento.title}}
                        <small> by {{elemento.content}}</small>
                    </h4>
                </a>
                <p> {{elemento.description}}</p>
            </li>
            <br>
        </ng-template>
    </ul>
</div> -->